<html>
<head>
<title>모노휘트니스센터</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta http-equiv="Cache-Control" content="No-Cache"/>
<meta http-equiv="Pragma" content="No-Cache"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta http-equiv="imagetoolbar" content="false"/>
<meta name="robots" content="ALL">
<link rel="stylesheet" href="css/reset.css" type="text/css"/>
<link rel="stylesheet" href="css/layout.css" type="text/css"/>


</head>
<body>
<div id="wrapper">
	<div id="header_area">
		<div id="header">
		<h1><a href="intro.html"><img src="img/top_logo.jpg" alt="모노휘트니스센터" /></a></h1>
			<ul id="gnb">
				<li><a href="intro.html">모노휘트니스 소개</a></li>
				<li><a href="gallery.html">시설 및 기구 안내</a></li>
				<li><a href="program.html">프로그램</a></li>
				<li><a href="notice_list.html">공지/이벤트</a></li>
				<li class="end"><a href="map.html">오시는 길</a></li>
			</ul><!--gnb 끝-->
		</div><!--header 끝-->
	</div><!--header_area 끝-->
	<div class="sub_img"></div>
	<div id="container">
		<div class="contents">
			<div class="title">
				<h1>공지/이벤트</h1>
				<div class="navi"><img src="img/icon_home.jpg" alt="홈" /><img src="img/icon_arrow.jpg" alt="&gt;" />공지/이벤트</div>
				<div id="content-area">
					<div class="subF">
					
					<div class="Table_noticeV">
						<table cellpadding="0" cellspacing="0" class="" summary="" >
							<caption></caption>
							<colgroup>
								<col style="width:1000px">
							</colgroup>
							<thead>
								<tr>
									<th>모노휘트니스 1일 무료 이용권 이벤트
									<p>작성자 : 모노휘트니스 &nbsp;&nbsp;&nbsp;작성일 : 2015-03-02&nbsp;&nbsp;&nbsp;조회수 : 252</p></th>
								</tr>
							</thead>
							<tbody>
								<tr class="wer">
									<td style="text-align:center">
										<img src="img/event_img.jpg">
										<a href=""><img src="img/event_bt.jpg" style="padding:10px 0 10px 0"></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div><!-- Table 끝-->
					<div class="listN">
						<span class="bt"><a href="#"><img src="img/list_bt.jpg"></a></span>
						<p class="prevPage"><img src="img/prev_icon.gif" width="70" height="14" alt="" /> 이전글이 없습니다.</p>          	
						<p class="nextPage"><img src="img/next_icon.gif" width="69" height="14" alt="" /> <a href="#">아트갤이 함께하는 발렌타인데이 고백 이벤트</a></p>
					</div>
					</div>
				</div><!-- content-area 끝-->
			</div><!-- title 끝-->
		</div><!-- contents 끝-->
	</div><!-- container 끝-->
	<div id="footer">
		<div id="f_contents">
			<h2><img src="img/footer_logo.jpg"  /></h2>
			<p class="address">
		    <span class="tel">상담문의 041-545-0830 I 충청남도 아산시 온천대로 1555 (온천동,모노팰리스 2층,지하1층 ) <a href="map.html" title="임대문의"><img src="img/footer_bt.jpg"style="margin-top:-2px;margin-left:5px"></a></span><br>
			  	(주)이비즈네트웍스 | 대표이사 박기범 | TEL 02)6255-3013 | 서울특별시 강남구 선릉로99길 12 (역삼동, 모노타워)<br>
				COPYRIGHT 2015 BY monofitness CO.,LTD ALL RIGHTS RESERVED.<br><br>
			</p>
		</div><!--f_contents 끝-->
	</div><!--footer 끝-->
</div><!--wrapper 끝-->
<!-- 배너 -->
<div style="position:fixed; left:50%; top:300px; width:0px; height:0px;">
	<div style="position:relative; left:530px; width:0px; height:0px;">
		<a href="#"><img src="img/wing_bn01.gif" /></a>
		<img src="img/wing_bn02.jpg" style="margin-top:10px;" />
	</div>
</div>
</body>
</html>
