<html>
<head>
<title>모노휘트니스센터</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta http-equiv="Cache-Control" content="No-Cache"/>
<meta http-equiv="Pragma" content="No-Cache"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta http-equiv="imagetoolbar" content="false"/>
<meta name="robots" content="ALL">
<link rel="stylesheet" href="../static/css/reset.css" type="text/css"/>
<link rel="stylesheet" href="../static/css/layout.css" type="text/css"/>


</head>
<body>
<div id="wrapper">
	<div id="header_area">
		<div id="header">
		<h1><a href="intro.html"><img src="http://img.justfit-fitness.com/top_logo.jpg" alt="모노휘트니스센터" /></a></h1>
			<ul id="gnb">
				<li><a href="intro.html">모노휘트니스 소개</a></li>
				<li><a href="gallery.html">시설 및 기구 안내</a></li>
				<li><a href="program.html">프로그램</a></li>
				<li><a href="notice_list.html">공지/이벤트</a></li>
				<li class="end"><a href="map.html">오시는 길</a></li>
			</ul><!--gnb 끝-->
		</div><!--header 끝-->
	</div><!--header_area 끝-->
	<div class="sub_img"></div>
	<div id="container">
		<div class="contents">
			<div class="title">
				<h1>모노휘트니스 소개</h1>
				<div class="navi"><img src="http://img.justfit-fitness.com/icon_home.jpg" alt="홈" /><img src="http://img.justfit-fitness.com/icon_arrow.jpg" alt="&gt;" />모노휘트니스 소개</div>
				<div id="content-area">
					<div class="subF"><img src="http://img.justfit-fitness.com/intro_img01.jpg"></div>
					<div class="Table">
						<table cellpadding="0" cellspacing="0" class="" summary="" >
							<caption></caption>
							<colgroup>
								<col width="170"/><col width="830"/>
							</colgroup>
							<tbody>
								<tr>
									<th>사업명</th>
									<td>모노휘트니스 [존슨메트릭스 충남 공식 총판점]</td>
								</tr>
								<tr>
									<th>위치</th>
									<td>충청남도 아산시 온천동 74-5번지 모노팰리스 2층, 지하1층 <span class="tel">Tel : 041)545-0830</span></td>
								</tr>
								<tr>
									<th>개관일</th>
									<td>2015년 3월 2일</td>
								</tr>
								<tr>
									<th>규모</th>
									<td>250평</td>
								</tr>
								<tr>
									<th>부대시설</th>
									<td>gx시설, 샤워시설, 테라스, 주차타워, 24시편의점, 에어프라이 치킨&백반</td>
								</tr>
								<tr>
									<th>운영시간</th>
									<td>평일 : am 07:00 ~ pm 23:00  /  토,일 공휴일 : am 09:00 ~ pm 19:00 </td>
								</tr>
							</tbody>
						</table>
					</div><!-- Table 끝-->
					<div class="subF">
						<h3>부대시설</h3>
						<img src="http://img.justfit-fitness.com/intro_img02.jpg">
					</div>
					<div class="subF">
						<h3>오시는 길</h3>
						<!--
							* Daum 지도 - 약도서비스
							* 한 페이지 내에 약도를 2개 이상 넣을 경우에는
							* 약도의 수 만큼 소스를 새로 생성, 삽입해야 합니다.
						-->
						<!-- 1. 약도 노드 -->
						<div id="daumRoughmapContainer1413944398783" class="root_daum_roughmap root_daum_roughmap_landing"></div>

						<!-- 2. 설치 스크립트 -->
						<script charset="UTF-8" class="daum_roughmap_loader_script" src="http://dmaps.daum.net/map_js_init/roughmapLoader.js"></script>

						<!-- 3. 실행 스크립트 -->
						<script charset="UTF-8">
							new daum.roughmap.Lander({
								"timestamp" : "1413944398783",
								"key" : "275z",
								"mapWidth" : "1000",
								"mapHeight" : "280"
							}).render();
						</script>
						<div id="location">
							<table summary="" border="0" width="100%" cellpadding="0" cellspacing="0" style="margin-top:20px">
								<colgroup>
									<col width="145" />
									<col width="*" />
								</colgroup>
								<thead>
									<tr>
										<td colspan="2">주소 : 충청남도 아산시 온천동 74-5번지 모노팰리스 2층, 지하1층  <span class="tel">Tel : 041)545-0830</span></td>
									</tr>
								</thead>
							</table>
						</div>
						<div align="center" style="width:100%; margin:0px auto; text-align:center; padding-top:10px;">
							<div style="position:relative; top:30px;">
								<center><script type="text/javascript" src="http://search2.nuriclick.co.kr/search.php?ma=139"></script></center>
							</div>
						</div>
					</div>
				</div><!-- content-area 끝-->
			</div><!-- title 끝-->
		</div><!-- contents 끝-->
	</div><!-- container 끝-->
	<div id="footer">
		<div id="f_contents">
			<h2><img src="http://img.justfit-fitness.com/footer_logo.jpg"  /></h2>
			<p class="address">
		    <span class="tel">상담문의 041-545-0830 I 충청남도 아산시 온천대로 1555 (온천동,모노팰리스 2층,지하1층 ) <a href="map.html" title="임대문의"><img src="http://img.justfit-fitness.com/footer_bt.jpg"style="margin-top:-2px;margin-left:5px"></a></span><br>
			  	(주)이비즈네트웍스 | 대표이사 박기범 | TEL 02)6255-3013 | 서울특별시 강남구 선릉로99길 12 (역삼동, 모노타워)<br>
				COPYRIGHT 2015 BY monofitness CO.,LTD ALL RIGHTS RESERVED.<br><br>
			</p>
		</div><!--f_contents 끝-->
	</div><!--footer 끝-->
</div><!--wrapper 끝-->
<!-- 배너 -->
<div style="position:fixed; left:50%; top:300px; width:0px; height:0px;">
	<div style="position:relative; left:530px; width:0px; height:0px;">
		<a href="#"><img src="http://img.justfit-fitness.com/wing_bn01.gif" /></a>
		<img src="http://img.justfit-fitness.com/wing_bn02.jpg" style="margin-top:10px;" />
	</div>
</div>

</body>
</html>
