<html>
<head>
<title>모노휘트니스센터</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta http-equiv="Cache-Control" content="No-Cache"/>
<meta http-equiv="Pragma" content="No-Cache"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta http-equiv="imagetoolbar" content="false"/>
<meta name="robots" content="ALL">
<link rel="stylesheet" href="../static/css/reset.css" type="text/css"/>
<link rel="stylesheet" href="../static/css/layout.css" type="text/css"/>


</head>
<body>
<div id="wrapper">
	<div id="header_area">
		<div id="header">
		<h1><a href="intro.html"><img src="http://img.justfit-fitness.com/top_logo.jpg" alt="모노휘트니스센터" /></a></h1>
			<ul id="gnb">
				<li><a href="intro.html">모노휘트니스 소개</a></li>
				<li><a href="gallery.html">시설 및 기구 안내</a></li>
				<li><a href="program.html">프로그램</a></li>
				<li><a href="notice_list.html">공지/이벤트</a></li>
				<li class="end"><a href="map.html">오시는 길</a></li>
			</ul><!--gnb 끝-->
		</div><!--header 끝-->
	</div><!--header_area 끝-->
	<div class="sub_img"></div>
	<div id="container">
		<div class="contents">
			<div class="title">
				<h1>프로그램</h1>
				<div class="navi"><img src="http://img.justfit-fitness.com/icon_home.jpg" alt="홈" /><img src="http://img.justfit-fitness.com/icon_arrow.jpg" alt="&gt;" />프로그램</div>
				<div id="content-area">
					<div class="subF">
						<p class="Pinfo">모노휘트니스는 헬스는 물론 스피닝, 태보, 줌바, 핫요가, 에어로빅, 필라테스 등 전문 강사진에게 배우는 수준높은 피트니스 강좌를 무료로 </br>이용하실
						수 있으며, 신세대 기호에 맞춘 젋고 세련된 감각의 최신식 인테리어와 넓고 쾌적한 샤워시설 및 휴게실로 편리하게 이용하실 수 있습니다. </p>
					</div>
					<div class="subF">
					<h3>PT 프로그램</h3>
					<img src="http://img.justfit-fitness.com/program_01.jpg">
					</div>
					<div class="subF">
					<h3>GX 프로그램</h3>
					<img src="http://img.justfit-fitness.com/program_02.jpg">
					</div>
					<div class="subF">
					<h3>스피닝 프로그램</h3>
					<img src="http://img.justfit-fitness.com/program_03.jpg">
					</div>
					<div class="subF">
					<h3>운영시간</h3>
					<img src="http://img.justfit-fitness.com/program_04.jpg">
					</div>
				</div><!-- content-area 끝-->
			</div><!-- title 끝-->
		</div><!-- contents 끝-->
	</div><!-- container 끝-->
	<div id="footer">
		<div id="f_contents">
			<h2><img src="http://img.justfit-fitness.com/footer_logo.jpg"  /></h2>
			<p class="address">
		    <span class="tel">상담문의 041-545-0830 I 충청남도 아산시 온천대로 1555 (온천동,모노팰리스 2층,지하1층 ) <a href="map.html" title="임대문의"><img src="http://img.justfit-fitness.com/footer_bt.jpg"style="margin-top:-2px;margin-left:5px"></a></span><br>
			  	(주)이비즈네트웍스 | 대표이사 박기범 | TEL 02)6255-3013 | 서울특별시 강남구 선릉로99길 12 (역삼동, 모노타워)<br>
				COPYRIGHT 2015 BY monofitness CO.,LTD ALL RIGHTS RESERVED.<br><br>
			</p>
		</div><!--f_contents 끝-->
	</div><!--footer 끝-->
</div><!--wrapper 끝-->
<!-- 배너 -->
<div style="position:fixed; left:50%; top:300px; width:0px; height:0px;">
	<div style="position:relative; left:530px; width:0px; height:0px;">
		<a href="#"><img src="http://img.justfit-fitness.com/wing_bn01.gif" /></a>
		<img src="http://img.justfit-fitness.com/wing_bn02.jpg" style="margin-top:10px;" />
	</div>
</div>
</body>
</html>
