<html>
<head>
<title>토탈 휘트니스-저스트핏</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta http-equiv="Cache-Control" content="No-Cache"/>
<meta http-equiv="Pragma" content="No-Cache"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta http-equiv="imagetoolbar" content="false"/>
<meta name="robots" content="ALL">
<link rel="stylesheet" href="css/reset.css" type="text/css"/>
<link rel="stylesheet" href="css/layout.css" type="text/css"/>


</head>
<body>

<!-- 메인 광고배너 -->
<div id="m_popup">
	<div class="bgbox"></div>
	<div class="adbox">
	<span class="close"><a href=""><img src="http://img.justfit-fitness.com/pop_close.gif" alt="오늘안보기 닫기"></a></span>
		<ul>
		<li><img src="img/pop_01.gif" alt="저스트핏그랜드오픈이벤트"></li>
		<li><a href=http://map.daum.net/?nil_profile=title&nil_src=local" target="blink"><img src="img/pop_02.gif" alt="저스트핏 위치소개"></li>
		<li class="pop_btn">
			<ul>
			<li><a href=""><img src="http://img.justfit-fitness.com/pop_btn01.gif" alt="회원권 문의"></a></li>
			<li><a href=""><img src="http://img.justfit-fitness.com/pop_btn02.gif" alt="pt 문의"></a></li>
			<li><a href=""><img src="http://img.justfit-fitness.com/pop_btn03.gif" alt="pt 무료체험"></a></li>
			</ul>
		</li>		
		</ul>
	</div>
</div>
<!-- 메인 광고배너 end -->




</body>
</html>
