<html>
<head>
<title>모노휘트니스센터</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta http-equiv="Cache-Control" content="No-Cache"/>
<meta http-equiv="Pragma" content="No-Cache"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta http-equiv="imagetoolbar" content="false"/>
<meta name="robots" content="ALL">
<link rel="stylesheet" href="css/reset.css" type="text/css"/>
<link rel="stylesheet" href="css/layout.css" type="text/css"/>


</head>
<body>
<div id="wrapper">
	<div id="header_area">
		<div id="header">
		<h1><a href="intro.html"><img src="img/top_logo.jpg" alt="저스트핏센터" /></a></h1>
			<ul id="gnb">
				<li><a href="" alt="준비중">JUST FIT</a></li>
				<li><a href="" alt="준비중">프로그램</a></li>
				<li><a href="" alt="준비중">트레이너</a></li>
				<li><a href="reservation_list.html">예약/상담</a></li>
				<li class="end"><a href="community.html">커뮤니티</a></li>
			</ul><!--gnb 끝-->
		</div><!--header 끝-->
	</div><!--header_area 끝-->
	<div class="sub_img"></div>
	<div id="container">
		<!-- left 메뉴 -->
		<div id="sub_left">
			<p class="ttl"><a href="" alt="예약/상담">JUST FIT</a></p>
				<ul>	            
				<li><a href="" title="인사말">인사말</a></li>
				<li><a href="" title="특장점">특장점</a></li>
				<li><a href="" title="시설보기">시설보기</a></li> 
				<li class="on"><a href="" title="오시는 길">오시는 길</a></li> 
			</ul>      
		</div>	
		<!-- left 메뉴 end-->
		<div class="contents">
			<div class="title">
				<h1>오시는 길</h1>
				<div class="navi"><img src="img/icon_home.jpg" alt="홈" /><img src="img/icon_arrow.jpg" alt="&gt;" />오시는 길</div>
				<div id="content-area">
					<div class="subF">
<!-- * Daum 지도 - 지도퍼가기 -->
<!-- 1. 지도 노드 -->
<div id="daumRoughmapContainer1484183122908" class="root_daum_roughmap root_daum_roughmap_landing"></div>

<!--
	2. 설치 스크립트
	* 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.
-->
<script charset="UTF-8" class="daum_roughmap_loader_script" src="http://dmaps.daum.net/map_js_init/roughmapLoader.js"></script>

<!-- 3. 실행 스크립트 -->
<script charset="UTF-8">
	new daum.roughmap.Lander({
		"timestamp" : "1484183122908",
		"key" : "fcby",
		"mapWidth" : "760",
		"mapHeight" : "400"
	}).render();
</script>
						<div id="location">
							<table summary="" border="0" width="100%" cellpadding="0" cellspacing="0" style="margin-top:20px">
								<colgroup>
									<col width="145" />
									<col width="*" />
								</colgroup>
								<thead>
									<tr>
										<td colspan="2">Address : 서울 강남구 테헤란로 82길 15 (디아이타워 지하 1층 저스트핏)<span class="tel">Tel : 070-4102-6476</span></td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th height="80"><img src="img/dot.jpg" alt="dot" /> 지하철</th>
										<td>- 지하철 2호선 선릉역(분당선) 하차 1번출구 도보 8분 거리</br>- 지하철 2호선 삼성역 하차 4번출구 도보 7분 거리</td>
										
									</tr>
									<tr>
										<th><img src="img/dot.jpg" alt="dot" /> 버스</th>
										<td><b>포스코사거리역</b>
										<p><img src="img/bus_01.jpg" alt="지선" /> 3425 <img src="img/bus_02.jpg" alt="지선" />  강남07 </p>
										<p><img src="img/bus_04.jpg" alt="간선" /> 146, 333, 341, 360, 740, N13, N16</p>
										<p><img src="img/bus_03.jpg" alt="직행" />  1100, 1700, 2000, 2000-1, 7007, 9303, 9414, 8001</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div><!-- content-area 끝-->
			</div><!-- title 끝-->
		</div><!-- contents 끝-->
	</div><!-- container 끝-->
	<div id="footer">
		<div id="f_contents">
			<h2><img src="img/footer_logo.jpg"  /></h2>
			<p class="address">
				<span class="tel">서울 강남구 테헤란로 82길 15 (디아이타워 지하 1층 저스트핏)&nbsp;&nbsp;| &nbsp;상담문의: <font class="red">070-4102-6476</font> <a href="map.html" title="오시는길"><img src="img/footer_bt.jpg"style="margin-top:-2px;margin-left:5px"></a><br>서울 강남구 대치동 942-15  디아이타워 지하 1층 저스트핏</span><br>
			  	<br>COPYRIGHT 2017 BY JUST FIT CO.,LTD ALL RIGHTS RESERVED.<br><br>
			</p>
		</div><!--f_contents 끝-->
	</div><!--footer 끝-->
</div><!--wrapper 끝-->

</body>
</html>
