<html>
<head>
<title>저스트핏센터</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta http-equiv="Cache-Control" content="No-Cache"/>
<meta http-equiv="Pragma" content="No-Cache"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta http-equiv="imagetoolbar" content="false"/>
<meta name="robots" content="ALL">
<link rel="stylesheet" href="css/reset.css" type="text/css"/>
<link rel="stylesheet" href="css/layout.css" type="text/css"/>


</head>
<body>
<div id="wrapper">
	<div id="header_area">
		<div id="header">
		<h1><a href="intro.html"><img src="img/top_logo.jpg" alt="저스트핏센터" /></a></h1>
			<ul id="gnb">
				<li><a href="" alt="준비중">JUST FIT</a></li>
				<li><a href="" alt="준비중">프로그램</a></li>
				<li><a href="" alt="준비중">트레이너</a></li>
				<li><a href="reservation_list.html">예약/상담</a></li>
				<li class="end"><a href="community.html">커뮤니티</a></li>
			</ul><!--gnb 끝-->
		</div><!--header 끝-->
	</div><!--header_area 끝-->
	<div class="sub_img"></div>
	<div id="container">
		<!-- left 메뉴 -->
		<div id="sub_left">
			<p class="ttl"><a href="" alt="예약/상담">예약/상담</a></p>
				<ul>	            
				<li class="on"><a href="" title="회원권문의">회원권 문의</a></li>
				<li><a href=".html" title="PT문의">PT 문의</a></li>
				<li><a href=".html" title="PT무료체험">PT 무료체험</a></li> 
			</ul>      
		</div>	
		<!-- left 메뉴 end-->
		<div class="contents">
			<div class="title">
				<h1>예약/상담</h1>
				<div class="navi"><img src="img/icon_home.jpg" alt="홈" /><img src="img/icon_arrow.jpg" alt="&gt;" />예약/상담</div>
				<div id="content-area">
					<div class="subF">
					
					<div class="Table_noticeV">
						<table cellpadding="0" cellspacing="0" class="" summary="" >
							<caption></caption>
							<colgroup>
								<col style="width:1000px">
							</colgroup>
							<thead>
								<tr>
									<th>저스트핏 무료체험권 예약 문의드립니다.
									<p>[회원권 문의]&nbsp;&nbsp;&nbsp;작성자 : 저스트핏 &nbsp;&nbsp;|&nbsp;&nbsp;작성일 : 2017-01-10&nbsp;&nbsp;| &nbsp;조회수 : 252</p></th>
								</tr>
							</thead>
							<tbody>
								<tr class="wer">
									<td>본사 기획처(처장 김진규)는 지난 5월 31일(토) ~ 6월 1일(일) 이틀간 SNS기자단 2기를 중심으로<br>
									제4회 유니브엑스포에 참가해 홍보부스를 운영했다.<br><br>

									유니브엑스포는 university exposition의 준말로, 대학생활의 모든 것을 소재로 담아내는 전시회다.<br>
									일명 대학생활 박람회라 불리며 서울시가 공식 후원해 회를 거듭할수록 규모가 커지고 있다.<br>
									특히 대학교 내에서 이뤄진 지난 회들과는 달리 이번 회는 서울에서 유동인구가 가장 많은 신촌 연세로에서<br>
									개최되었으며 애경, 농심, 엘지, 한국제지 등 30여 기업 및 100여 단체가 참여했다.<br><br>

									우리 회사는 재미있는 프로그램운영 및 열정적인 홍보활동으로 행사 전체 부스 중 가장 높은 호응을 받았다.<br>
									양일간 총 5천명 이상 방문했으며 남동발전 페이스북 친구 500명이 증가하는 성과를 이루어냈다<br>
									특히 자전거 발전체험 코너는 항시 30명 이상 줄을 서는 풍경 연출했으며 회사 리플릿을 인쇄한 부채 및 회사 로고 에코백도 전량 소진되었다.<br>
									인쇄한 부채 및 회사 로고 에코백도 전량 소진되었다.인쇄한 부채 및 회사 로고 에코백도 전량 소진되었다.<br>

									이번 행사의 참여를 통해 2,30대 청년층에 회사 인지도를 높이는데 성공한 것으로 판단된다.<br>
									앞으로도 기획처는 이와 같은 행사를 매년 기획, 회사를 홍보할 것이다.<br><br>
									
									
									</td>
								</tr>
								<!-- 답변 -->
								<tr class="wer">
									<td><b>답변입니다.</b> <br><br>안녕하세요. 고객님! 저스트핏 입니다.<br><br>
									</td>
								</tr>
								<!--답변 끝-->
							</tbody>
						</table>
					</div><!-- Table 끝-->
					<div id="listN">						
						<span class="btn_list2"><a href="#">목록보기</a></span>&nbsp;
						<span class="btn_delete"><a href="">삭제</a></span>&nbsp;&nbsp;
						<span class="btn_modify"><a href="reservation_modify.html">글수정</a></span>&nbsp;&nbsp;
					</div>
					
					</div>

				</div><!-- content-area 끝-->
			</div><!-- title 끝-->
		</div><!-- contents 끝-->
	</div><!-- container 끝-->
	<div id="footer">
		<div id="f_contents">
			<h2><img src="img/footer_logo.jpg"  /></h2>
			<p class="address">
				<span class="tel">서울 강남구 테헤란로 82길 15 (디아이타워 지하 1층 저스트핏)&nbsp;&nbsp;| &nbsp;상담문의: <font class="red">070-4102-6476</font> <a href="map.html" title="오시는길"><img src="img/footer_bt.jpg"style="margin-top:-2px;margin-left:5px"></a><br>서울 강남구 대치동 942-15  디아이타워 지하 1층 저스트핏</span><br>
			  	<br>COPYRIGHT 2017 BY JUST FIT CO.,LTD ALL RIGHTS RESERVED.<br><br>
			</p>
		</div><!--f_contents 끝-->
	</div><!--footer 끝-->
</div><!--wrapper 끝-->
<!-- 배너 -->
<div style="position:fixed; left:50%; top:300px; width:0px; height:0px;">
	<div style="position:relative; left:530px; width:0px; height:0px;">
		<a href="#"><img src="img/wing_bn01.gif" /></a>
		<img src="img/wing_bn02.jpg" style="margin-top:10px;" />
	</div>
</div>
</body>
</html>
